.festival-container {
    ul {
        list-style-type: none;
        li {
            padding: 10px 20px;
        }
    }
    button {
        display: block;
        width: 200px;
        margin: 20px auto;
    }
}